numpy
tensorflow-macos
tensorflow-metal
adversarial-robustness-toolbox
faiss-cpu
openai
flask
grpcio
huggingface-hub
jupyter
keras
langchain
lime
matplotlib
opencv-python
pandas
pillow
scikit-image
scikit-learn
tqdm
transformers
